@font-face {
    font-family: 'SF Pro Text'
    font-style: normal
    font-weight: 300
    scr:
    local('SF Pro Text')
    url('font/SEProText-Light.woff2'),format('woff2')
                              woff            woff
                              ttf             ttf
                              eot             eot